<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
        	<!-- Date               LEVEL   Classe         \n   [Methode][File - File&LineError - LineError]: TEXT   -->
            [ABDEL]%d{dd/MM/yyyy HH:mm:ss} %5p --- %-40.40c{1.} - %n - [%M] [%F - %l - %L]: %m%n%ex
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.abdel.gestionproduit.back" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>

        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>